<!DOCTYPE html>
<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link href="css/client.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Coming+Soon" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
        <script src="http://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js"></script>
        <script src="js/client/client.js"></script>
    </head>
    <body>
        <div id="usernameModal" class="modal fade in">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Username</h4>
                    </div>
                    <div class="modal-body">
                        <form id='nameForm'>
                            <fieldset>
                                <div class="fieldgroup">
                                    <input type="text" id="nameInput" name="nameInput"/>
                                    <button type="button" id="nameButton" disabled>Done</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div> 
        </div>
        <div class="breathingSpace">
            <br/>
        </div>
        <div class="container chat_container">
            <div class="row">
                <div class="col-sm-3 contact_list">
                    <ul class="contacts">
                        <li class="contact_name selected_contact" value="All">
                            <i class="glyphicon glyphicon-user"> </i> All
                        </li>
                    </ul>
                </div>
                <div class="col-sm-9 chat_details">
                    <div class="chat_content" id="chatlog"></div>
                    <div class="chat_entry">
                        <div id="messageSend col-sm-12">
                            <div class="col-sm-10"><textarea id="messageInput"></textarea></div>
                            <div class="col-sm-2"><button id="sendButton" class="btn btn-primary">Send</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>