<!DOCTYPE html>
<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link href="css/client.css" rel="stylesheet">
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
        <script src="http://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js"></script>
        <script src="js/client/client.js"></script>
    </head>
    <body>
        <div id="usernameModal" class="modal fade in">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Username</h4>
                    </div>
                    <div class="modal-body">
                        <form id='nameForm'>
                            <fieldset>
                                <div class="fieldgroup">
                                    <input type="text" id="nameInput" name="nameInput"/>
                                    <button type="button" id="nameButton">Done</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div> 
        </div>
        <div id="container">
            <div>
                <br>

                <div class="radio radio-inline">
                    <label><input type="radio" name="sendTo" value='choose'>Choose User</label>
                    <label><input type="text" id="toWhomInput" disabled/></label>
                </div>
                <div class="radio radio-inline">
                    <label><input type="radio" name="sendTo" value='all'>All</label>
                </div>

                <div>
                    Message : <input type="text" id="messageInput"/>
                    <button id="sendButton">send</button>
                </div>
            </div>
            <div id='chatlog'></div>
        </div>
    </body>
</html>